@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  input::placeholder,
  textarea::placeholder {
    /* gray-400 de Tailwind */
    color: #9ca3af;
    opacity: 1;
  }
}

/* Modo oscuro (ajustá si usan dark) */
@media (prefers-color-scheme: dark) {
  @layer base {
    input::placeholder,
    textarea::placeholder {
      color: #9ca3af; /* o gray-500 si tu fondo es más claro */
      opacity: 1;
    }
  }
}



